:root {
    --logo-height: 170px;
    --logo-offset: calc(calc(100vh / 3) - var(--logo-height));
    --main-rows-height: calc(100vh / 3);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body * {
    /* test/dev purpose */
    /* resize: both; */
    /* overflow: auto; */
    /* outline: 1px solid red; */
}

main {
    display: flex;
}

@font-face {
    font-family: "Norse";
    src: url("./font/Norse-Bold.otf");
}

#left_side {
    font-family: "Norse", system-ui;
    color: white;
    display: flex;
    flex-basis: 30%;
    background-image: url("./images/background.avif");
    background-position: top left;
    background-repeat: no-repeat;
    background-size: cover;

    #logo {
        margin-top: var(--logo-offset);
        padding: 10px 0;
        background-color: rgba(0, 0, 0, 0.623);
        font-size: 7rem;

        display: flex;
        justify-content: center;

        height: var(--logo-height);
        width: 100%;

        p {
            align-self: center;
            text-align: left;
            align-content: end;
        }
    }
}

#right_side {
    display: flex;
    flex-direction: column;
    flex-basis: 70%;

    font-family: 'Roboto';
    font-size: 2em;
    font-weight: 1000;

    #right_side_1 {
        height: var(--main-rows-height);
        background-color: rgb(249 250 251);



        display: flex;
        flex-direction: column;
        gap: 40px;
        padding: 0 40px 40px 40px;
        justify-content: flex-end;

        padding: 25px 50px 30px 50px;
    }

    #right_side_2 {
        height: var(--main-rows-height);
        display: flex;
        flex-direction: column;
        gap: 30px;

        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 10px 4px #000000;
        z-index: 1;

        padding: 25px 50px 30px 50px;

        p {
            min-height: fit-content;
            flex-shrink: 0;
        }

        form {
            font-size: 1rem;
            font-weight: 400;
            height: 100%;

            #container {
                display: grid;
                height: 100%;

                grid-template-columns: repeat(2, 1fr);
                grid-auto-rows: calc(100% / 3);

                div {
                    align-content: center;

                    label {
                        font-size: 0.8rem;
                    }

                    input {
                        width: 260px;
                        height: 30px;
                    }

                    #password:user-invalid {
                        border: 2px solid red;
                    }

                    #confirm_password:user-invalid {
                        border: 2px solid red;
                    }
                }
            }
        }
    }

    #right_side_3 {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 40px;

        height: var(--main-rows-height);
        background-color: rgb(249 250 251);
        padding: 40px 60px 40px 60px;

        span {
            color: #596d48;
        }

        button {
            background: #596d48;
            border-radius: 9px;
            box-shadow: 0px 1px 3px #596d48;
            font-family: Arial;
            color: #ffffff;
            font-size: 17px;
            padding: 20px 50px 20px 50px;
            text-decoration: none;
            outline-color: #596d48;
            border-color: #596d48;
            stop-color: #596d48;
        }
    }
}
